:host {
	display: block;
	min-height: 100vh;
}

.contact-page {
	min-height: 100vh;
	background-image: url("/assets/images/background_contact.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}